<ion-header text-center>
  <ion-toolbar>
    <ion-title class="ion-text-center">Carreras</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="1" offset="2">
          Id
      </ion-col>
      <ion-col size="6" offset="2" class="align-self-center"    >
          Nombres
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let career of careers">
      <ion-col size="1" offset="2">
          {{career.id}}
      </ion-col>
      <ion-col size="6" offset="1">
          {{career.name}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>