<ion-header class="bar bar-header bar-positive">
  <ion-toolbar>
    <ion-title class="ion-text-center">Indicadores por Carrera</ion-title>
    <ion-button slot="end" routerLink="/"> 
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-label position="floating">Carrera</ion-label>  
      <ion-select okText="Seleccionar" cancelText="Cancelar" placeholder="Seleccionar carrera" (ionChange)="onChange($event)">
        <ion-select-option *ngFor="let career of careers" value="{{career.id}}">{{career.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div *ngIf=" indicators ">
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <div class="ion-text-center">
            Nombre
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let indicator of indicators" class="ion-justify-content-center" (click)="goTo(indicator.id,indicator.name)">
        <ion-col size="12">
          <div>
            {{indicator.name}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
