<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Directores</ion-title>
    <ion-button slot="end" routerLink="/"> 
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size-md="2" size-lg="2" size-xs="4" style="background-color: black;color: white;">
        Nombres
      </ion-col>
      <ion-col size-md="2" size-lg="2" size-xs="6" style="background-color: black;color: white;">
        Email
      </ion-col>
      <ion-col size-md="2" size-lg="2" size-xs="2" style="background-color: black;color: white;">
        ver
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let dtcCareer of dtcCareers">
      <ion-col size-md="2" size-lg="2" size-xs="4">
        {{dtcCareer.name}}
      </ion-col>
      <ion-col size-md="2" size-lg="2" size-xs="6">
        {{dtcCareer.email}}
      </ion-col>
      <ion-col size-md="2" size-lg="2" size-xs="2">
        <ion-button (click)="presentModal(dtcCareer)">
          <ion-icon name="eye"></ion-icon>
        </ion-button> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
