<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">dtc_careers</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="1">
        <div>
          Id
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          Nombres
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          Email
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          Carreras
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row *ngFor="let name of dtcCareers" class="ion-align-items-center">
      <ion-col size="1">
        <div>
          {{name.id}}
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          {{name.name}}
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          {{name.email}}
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          {{name.email}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
