ion-content {
    --background: url("../../assets/fondo2.jpeg") no-repeat top/cover fixed;
}

ion-col {
    border: 1px solid #488aff;
    border-radius: 30px;
    background: white;
}

ion-button {
    font-weight: 300;
}

span{
    color: red;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        padding-top: 10%;
    }
    ion-col {
        border: none;
    }

    img{
        height: 200px;
    }
}